
@charset "utf-8";
	
    .swiper-container {
      width: 100%;
      height: 300px;
      margin: 20px auto;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .append-buttons {
      text-align: center;
      margin-top: 20px;
    }
    .append-buttons a {
      display: inline-block;
      border: 1px solid #007aff;
      color: #007aff;
      text-decoration: none;
      padding: 4px 10px;
      border-radius: 4px;
      margin: 0 10px;
      font-size: 13px;
    }
	body{
	height:100%;
	overflow:hidden;
	font-size:0.15rem! impotant;
	}
	.swiper_icon{
		
		height:1.57rem;
		width:100%;
		background-color:rgba(0,0,0,0.5);
		position:fixed;
		bottom:2.48rem;
		border-top:2px solid #c0bdb7
	}
	.swiper-slide{
		width:1.57rem!important;
		height:1.14rem!important;
	}
	.swiper_icon img{
		width:1.57rem;
		height:1.14rem;
	}
	
	
	.swiper-button-next, .swiper-button-prev{
		top:50%;
		color:#fff;
	}

	.swiper-container{
		width:75%;
		margin:0.17rem auto;
	}
	
	
	
.shop_service{
	display:none;
    font-size: 13px;
    padding-top: 40px;
    text-align: center;
    width: 70px;
    left: 145px;
    line-height: 25px;
    height: 35px;
    background-image: url(../images/shop_service.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 37px 37px;
    position: absolute;
    bottom: -11px;
    z-index: 3003;
    overflow: visible;
    opacity: 1;
    color: #fff;
}
	.swiper-wrapper{

	}
	

	@media(min-width:700px){
		.swiper_icon{
			height:157px;
			bottom:181px;

		}
		.swiper-slide{
			width:157px!important;
			height:114px!important;
		}
		.swiper_icon img{
			width:157px;
			height:114px;
		}
		
		.swiper-container{
		
			margin:17px auto;
		}
		
		.shop_service{
			left: 281px;
		    background-size: 41px 41px;
		    bottom: -7px;
			line-height:34px;
		}
	}
	
	
	
	
	
	
	
	